@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Voltaire&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Globals */
html {
	font-size: 16px;
	font-family: 'Poppins', sans-serif;
	overflow-x: hidden;
	scroll-behavior: smooth;
}

:root {
	--clr-primary: #4c8bf5;
	--clr-light-blue: #cfe4e7;
	--clr-sun-yellow: #ebee67;
	--clr-dark-blue: #153651;

	--icon-left-arrow: url('../static/images/icons/arrow-left-solid.svg');
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.active {
	font-weight: 700;
}

h2 {
	font-size: 1.5rem;
	font-weight: 700;
	margin-bottom: 1em;
}

h3 {
	font-size: 1.25rem;
	font-weight: 700;
	margin-bottom: 1em;
}

p {
	line-height: 1.6;
	margin-bottom: 1em;
}

/* Custom scrollbar */
/* width */
::-webkit-scrollbar {
	width: 0.6rem;
}

/* Track */
::-webkit-scrollbar-track {
	background-color: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: var(--clr-light-blue);
	border: 2px solid white;
	border-radius: 0.8rem;
}

@layer components {
	.primary-btn-exposure {
		@apply font-bold p-2 h-12 w-12 text-2xl rounded-full bg-white shadow-lg absolute flex text-center cursor-pointer;
	}

	.secondary-btn-exposure {
		@apply font-bold p-2 h-10 w-10 text-sm rounded-full bg-white shadow-lg absolute flex text-center cursor-pointer;
	}
}
