@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Voltaire&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Globals */
html {
	font-size: 16px;
	font-family: 'Poppins', sans-serif;
	overflow-x: hidden;
	scroll-behavior: smooth;
	overscroll-behavior-y: contain;
}

:root {
	--clr-primary: #4c8bf5;

	--icon-left-arrow: url('../static/images/icons/arrow-left-solid.svg');
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.active {
	font-weight: 700;
}

h2 {
	font-size: 1.5rem;
	font-weight: 700;
	margin-bottom: 1em;
}

h3 {
	font-size: 1.25rem;
	font-weight: 700;
	margin-bottom: 1em;
}

p {
	line-height: 1.6;
	margin-bottom: 1em;
}
